header{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
    border: red solid 2px;
}

.regles{
    border: white solid 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}