header{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

.regles{
    border: white solid 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.section{
    height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.keyboard{
    width: 40vw;
}

.boutons-clavier{
    border: white solid 2px;
    padding: 20px;
    margin: 10px;
    border-radius: 45px;
}

.mot{
    color: white;
    font-size: 30px;
    /* border: red solid 5px; */
    /* width: 150px; */
}