<header>
    <p>Prêt.e {{joueur}}?</p>
    <h1>MOMOMOTUS</h1>
    <button mat-button (click)="openDialog()" class="regles">?</button>
   

    
</header>



<hr>

<section class="section">
    <app-mot class="mot" [mot]="mot"></app-mot>

    <div class="keyboard">
        <app-keyboard *ngFor="let item of keyboard" [item]="item" (onClickLetter)="updateValueLetter($event)"></app-keyboard>
        <app-button [title]="supprimer"></app-button>
        <app-button (click)="verifierProposition()" [title]="valider"></app-button>
    </div>
</section>